@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");

.main-body {
  background-color: #eaf0fd;
  display: flex;
  justify-content: center;
  height: 100vh;
  font-family: "Poppins", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

.portfolio-container {
  background-color: #fefeff;
  width: 85%;
  border-radius: 20px;
  padding: 20px;
  margin: 15px 0;
}

/* HEADER CONTENT START */

.border-t.border-gray-300 {
  border-top-width: 2px;
  border-top-style: solid;
  border-color: rgb(173, 172, 172);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.nav-links {
  border-bottom: 2px solid transparent;
  display: inline-block;
  transition: border-color 0.3s, opacity 0.3s, transform 0.3s;
  font-size: 20px;
}

.nav-links:hover {
  border-color: #000;
  opacity: 0.9;
  transform: translateY(-1px);
}

.link-background {
    background-color: #785447;
    padding: 5px;
    border-radius: 5px;
    color: #fefeff;
    font-size: 20px;
    margin: 0 3px;
    transition: transform 0.2s ease-in-out;
    display: inline-block;
}

.link-background:hover {
    opacity: 0.9;
    transform: translateY(-5px);
}

.animblob {
    position: absolute;
    top: 60%;
    left: 52%;
    height: 22vw;
    width: 35vw;
    transform: translate(-50%, -50%);
    background-color: #785447;
    animation: animate_blob 8s linear infinite;
}

@keyframes animate_blob {
    0%,100%{
        border-radius: 45% 55% 70% 35% / 70% 30% 90% 40%;
    }
    25% {
        border-radius: 55% 45% 30% 35% / 50% 30% 60% 10%;
    }
    50% {
        border-radius: 65% 35% 35% 65% / 40% 60% 30% 70%;

    }
    25% {
        border-radius: 35% 65% 60% 40% / 70% 30% 40% 60%;
    }
}

.typewriterEffect {
    color: #785447;
    font-weight: bold;
}

.link-background-content {
    background-color: #785447;
    padding: 5px;
    border-radius: 5px;
    color: #fefeff;
    font-size: 20px;
    transition: transform 0.2s ease-in-out;
    display: inline-block;
    margin-right: 10px;
}

.link-background-content:hover {
    opacity: 0.9;
    transform: translateY(-5px);
}

/* HEADER CONTENT END */
