@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");

.main-body {
  background-color: #eaf0fd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  background-image: linear-gradient(#fdededa8,#eaf0fda6, #fefeffa8, #f6f6f79a,#fff9f796, #f5e1d9);
  font-family: "Poppins", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

/* HEADER CONTENT START */

.header-container {
  background-color: #fefeff;
  width: 85%;
  border-radius: 1rem;
  padding: 1rem;
  margin: 1rem auto;
  max-width: 85%;
  flex-grow: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
  height: fit-content;
}

.header-welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 75vh;
    height: fit-content;
}

.border-t.border-gray-300 {
  border-top-width: 2px;
  border-top-style: solid;
  border-color: rgb(173, 172, 172);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.nav-links {
  border-bottom: 0.2rem solid transparent;
  display: inline-block;
  transition: border-color 0.3s, opacity 0.3s, transform 0.3s;
  font-size: 1.5rem;
}

.nav-links:hover {
  border-color: #785447;
  transform: translateY(-1px);
  color: #785447;
}

.link-background {
    background-color: #785447;
    padding: 0.3rem;
    border-radius: 0.3rem;
    color: #fefeff;
    font-size: 1.5rem;
    margin-left: 0.4rem;
    transition: transform 0.2s ease-in-out;
    display: inline-block;
}

.link-background:hover {
    opacity: 0.9;
    transform: translateY(-5px);
}

.image-container {
    position: relative;
    display: inline-block;
    transition: transform 0.2s ease-in-out;
}

.image-container:hover {
    transform: translateY(-5px);
}

.profile-picture {
    z-index: 10;
    position: relative;
    border-radius: 40rem 20rem;
    width: 30vw;
    height: 25vw;
    min-width: 200px;
    min-height: 200px;
    max-width: 500px;
    max-height: 500px;
    object-fit: cover;
    z-index: 0;
}

.image-border {
    position: absolute;
    top: 0%;
    left: -5%;
    width: 100%;
    height: 100%;
    border: 0.5rem solid #4d372f;
    border-radius: 50rem 30rem;
    z-index: 1;
  }

.typewriterEffect {
    color: #785447;
    font-weight: bold;
    font-size: 1.3rem;
}

.link-background-content {
    background-color: #785447;
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: #fefeff;
    font-size: 1.25rem;
    transition: transform 0.2s ease-in-out;
    display: inline-block;
    margin-right: 0.5rem;
}

.link-background-content-portfolio {
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: #785447;
    font-size: 1.25rem;
    font-weight: bold;
    transition: transform 0.2s ease-in-out;
    display: inline-block;
    margin-right: 0.5rem;
}
.link-background-content:hover, .link-background-content-portfolio:hover {
    opacity: 0.9;
    transform: translateY(-5px);
}

/* HEADER CONTENT END */

/* ABOUT SECTION START */

.about-container {
    background-color: #1a212e;
    display: flex;
    width: 85%;
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem auto;
    max-width: 85%;
    flex-grow: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 70vh;
    height: fit-content;
    color: #ffffff;
}

.about {
    height: fit-content;
}

.about-description {
    width: 50%;
}

.about-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: visible;
    justify-content: space-evenly;
}

.about-picture {
    display: flex;
    justify-content: center;
    width: 33w;
    height: 37vw;
    max-width: 33vw;
    max-height: 37vw;
    object-fit: cover;
}


.about-href {
    transition: transform 0.2s ease-in-out;
    display: inline-block;
    margin-left: -5px;
    margin-right: 5px;
}

.about-href:hover {
    transform: translateY(-5px);
    opacity: 0.9;
}

@media (max-width: 768px) {
    .about-content {
        flex-direction: column;
        align-items: center;
    }
    .about-description {
        width: 100%;
    }
    .about-href-container {
        text-align: center;
    }
}

/* ABOUT SECTION END */
